pkgbase = hyphen-da
	pkgdesc = Danish hyphenation rules
	pkgver = 20070903
	pkgrel = 1
	url = https://www.openoffice.org/lingucomponent/
	arch = any
	license = LGPL-2.0-or-later
	optdepends = hyphen: offers hyphenation library functions
	source = https://www.mirrorservice.org/sites/download.openoffice.org/contrib/dictionaries/hyph_da_DK.zip
	sha512sums = c7a75b42da48f34874332c71f4919f845c1e5730e02f8d5db2c25efb06f3c91d940cbef784f650c6aaf1d674e04e0df0a421e98b5cf370ee7d57ec3f6ef9b58f

pkgname = hyphen-da

